@using Microsoft.AspNetCore.Http.Extensions

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewData["Title"] - MaCopine</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MaCopine.styles.css" asp-append-version="true" />
     <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,1,0"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/akar-icons-fonts"></script>
</head>
<body>
    <header>
        <nav>
            <img id="croix" src="/croix.png">
            <img id="sidebar-points" src="/menu.png">
            <a href="/Presentation"><h1 id="Title"><b>MyGirl & MyBoy</b></h1></a>
            <div class="nav-items">
                <ul>
                    <li><button id="btnPresentation" ><a href="/Presentation/Index">Présentation</a></button></li>
                    <li><button id="btnAbout"><a href="/AboutUs/Index">About Us</a></button></li>
                    <li><button>NTM</button></li>
                </ul>
            </div>
            <div class="sidebar">
                <ul>
                    <li><button id="btnNTM">NTM</button></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main> 
    </div>
    <img class="img-fluid" id="Tulipe1" src="/tulipe.png" alt="Tulipe">
    <img class="img-fluid" id="Tulipe2" src="/tulipe.png" alt="Tulipe">

    <footer>
        <p>&copy; 2024 My Website</p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


