@{
    ViewData["Title"] = "Home Page";
}

<div class="text-Presentation">
    <br>
    <h1 class="PageTitle">~ Présentation ~</h1>
    <p>
        Ici, je vais vous présenter ma copine, je vais vous raconter des trucs sur ma copine, je vais vous montrer des trucs sur ma copine <br>
        Bref, je vais vous parler de ma super copine.
    </p>
</div>

