<div class="container">
    <div class="row align-items-center h-100">
        <div class="col-md-8">
            <p>Auriane Guyot, né le 3 Décembre 2005, c'est ma copine</p>
            <br>
            <p></p>
        </div>
        <div class="col-md-4">
            <img class="img-fluid" id="Tulipe2" src="/tulipe.png" alt="Tulipe">
        </div>
    </div>
</div>

<div>
    <aside class="sidebar">
        <header>
            <button type="button" onclick="toggleSidebar()">
                <span>Menu</span>
            </button>
            <img class="img-fluid" id="Tulipe1" src="/tulipe.png" alt="Tulipe">
        </header>
        <ul>
            <li>
                <button type="button" onclick="onClick(this)">
                    <span> Settings </span>
                    <p>Settings</p>
                    <span>expand_more</span>
                </button>
                <div class="sub-menu">
                    <ul>
                        <li>
                            <button type="button">Display</button>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </aside>
</div>